.image.article-summary-image{
    width:150px;
    height:150px;
    overflow:hidden;
    border-radius: 50%; 
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

.image.article-summary-image img{
    display:none;
}